*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.plone-version
.plone.versioncheck*
.project
.pydevproject
.settings/
bin/
checkversion*
develop-eggs/
parts/
var/
buildout-cache/
CACHEDIR.TAG
include/
lib/
local/
.coverage
htmlcov

