[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg

package-name = collective.ckeditortemplates
package-extras = [test]
versions = versions

parts += 
    omelette
    rebuild_i18n-sh

[instance]
eggs += i18ndude

[versions]
plone.app.testing = 4.2.2
collective.ckeditor = 4.0.0
plone.app.contenttypes = 1.0

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[rebuild_i18n-sh]
recipe = collective.recipe.template
url = https://raw.github.com/collective/buildout.plonetest/master/templates/rebuild_i18n.sh.in
output = ${buildout:directory}/bin/rebuild_i18n.sh
mode = 755
