[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    qa.cfg
    versions.cfg

package-name = collective.ckeditortemplates
package-extras = [test]
versions = versions

parts +=
    omelette
    rebuild_i18n-sh
    robot

[instance]
eggs += i18ndude

[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[rebuild_i18n-sh]
recipe = collective.recipe.template
url = https://raw.github.com/collective/buildout.plonetest/master/templates/rebuild_i18n.sh.in
output = ${buildout:directory}/bin/rebuild_i18n.sh
mode = 755

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework[reload, debug]

[sources]
plone.recipe.codeanalysis = git git@github.com:plone/plone.recipe.codeanalysis.git
